*{
	padding right: 0%;
	font-family: open sans;
}
nav{
    background-color: white;
    padding: 0.5rem 0.8rem;
    border-bottom: 1px solid #e9e9e9;
    list-style-type: none;
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav-logo{
	padding top: 50rem;
	display: inline;
	padding bottom: 10rem;
	margin-bottom: 2rem;
	background-position: center;
	padding-bottom: 50%;
	z-index: 1;
}
nav .nav, nav .nav-logo{
	margin: .55rem;
	display: inline;
	position: sticky;
	z-index: 1;
	padding-bottom: 50%;
	
}
.right-nav{
	position: sticky;
	margin-bottom: 2rem;
	border-bottom: 1px;
	list-style-type: none;
	font-family: open sans;
	text-align: right;
}
.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 15px;
	font-size: 1rem;
	padding: .3rem;
	z-index: 2;
	
}
.container{
	min-height: 40vh;
	width:98vw;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	opacity: .9;
  	position: scroll;
  	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
  	border-bottom: 50px;
}
.title{
	color: white;
	font-family: times new roman;
	font-weight: bold;
	text-align: right;
	margin-right: 8%;
	margin-bottom: 2%;
	margin-left: 8%;
	margin-top: 2%;
	font-size: 3em;
	padding-top: 2%;
	vertical-align: top;

}
.subtitle{
	color: white;
	text-align: right;
	font-family: open sans;
	font-weight: bold;
	display: inline-block;
	margin-right: 8%;
	margin-left: 65%;
	font-size: 1rem;
	margin-bottom: 2%;
}
/*	position: absolute;*/
.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 15px;
	font-size: 1rem;
	padding: .3rem;
	float: right;
	margin-right: 8%;
}
#intro{
	padding bottom: 50%;
	margin: .5rem;
	/*display: inline;*/
	text-align: center;
	font-family: open sans;

}
.title-2{
	margin top: 10px;
	padding-bottom: 4%;
	padding top: 50%;
	margin: .5rem;
	padding-top: 5%;
	text-align: center;
	font-family: zilla slab;

}

.intro-description{
	padding: .5rem 15rem 0rem 15rem;
	margin: 5rem;
	display: inline-block;
	text-align: justify;
	font-family: open sans;

}
.pre-footer{
	background-color: #f7fbfb;
	margin: 1px;
	
}
.prefooter-description{
	padding: 0rem 20rem 1rem 21rem;
	display: inline-block;
	text-align: center;
	font-family: open sans;
	margin-top: .5rem;
	background-color: #f7fbfb;
}
.book-button{
	color: white;
	padding-top: 15rem;
	padding-bottom: 10rem;
	font-weight: bold;
	background-color: #336589;
	border-radius: 15px;
	font-size: 1rem;
	padding: .3rem;
	margin-bottom: 10rem;
}
.parent-element{
	background-color: #f7fbfb;
	padding: 2%;
	position: relative;
	height: 20rem;
	text-align: center;
}
.child-one{
	background-color: #f7fbfb;
	font-family: open sans;
	padding-bottom: 10px;
	text-align: center;
	padding-left: 0% 25% 0% 55%;
}
.child-two{
	background-color: #f7fbfb;
	padding top: 10px;
}
nav.child-three{
	position: sticky;
}
footer{
	background-color: #f7fbfb;
}
